<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547006099680-rpeod7tj7v7rvkscf5t3rg6odlvkls97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547006099680-rpeod7tj7v7rvkscf5t3rg6odlvkls97</string>
	<key>API_KEY</key>
	<string>AIzaSyAqxwWRqDrRvZaK2XXnEOzavILQ6lv3pm0</string>
	<key>GCM_SENDER_ID</key>
	<string>547006099680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deliveryx.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>delapp-47503</string>
	<key>STORAGE_BUCKET</key>
	<string>delapp-47503.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547006099680:ios:7cf8ab54a1aa1d1a562085</string>
</dict>
</plist>